header {
  height: auto;
  width: 100%;
  background-color: rgb(255, 125, 196);
  display: flex;
}

header .logo {
  padding: 10px;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  grid-gap: 10px;
}
.navbar a {
  padding: 5px;
  width: 150px;
  height: 2em;
  border-radius: 7%;
  background-color: rgb(255, 82, 177);
  color: white;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
}
.navbar a:hover {
  color: black;
}
.navbar a.selected {
  background-color: rgb(255, 31, 154);
}

main {
  display: flex;
  width: 100%;
}

.filters {
  height: auto;
  width: 15%;
  display: flex;
  background-color: rgb(206, 205, 205);
  border-bottom-right-radius: 5%;
}

.filters form {
  padding: 20px;
  flex-direction: column;
}

.form-check-input:checked {
  background-color: rgb(248, 169, 255) !important;
  border: 0;
}

.form-select:focus,
.form-select:active,
.form-select.show {
  background-color: rgb(248, 169, 255) !important;
}

.filters input[type="submit"] {
  width: 100px;
  height: auto;
  margin: 10px;
  border-radius: 7px;
  background-color: rgb(247, 137, 232);
  border: none;
}

.filters input[type="reset"] {
  width: 100px;
  height: auto;
  margin: 10px;
  border-radius: 7px;
  background-color: rgb(247, 137, 232);
  border: none;
}

.dating-link {
  text-decoration: none;
  color: rgb(255, 125, 196);
}

.dating-link:hover {
  text-decoration: underline;
}

.member-actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-button {
  margin: 10px;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 50px;
  color: white;
  text-decoration: none;
  border-radius: 7px;
  background-color: rgb(157, 42, 250);
}

.chat-button:hover {
  color: black;
}

.back-button {
  margin: 10px;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 50px;
  color: white;
  text-decoration: none;
  border-radius: 7px;
  background-color: rgb(247, 137, 232);
}

.back-button:hover {
  color: black;
}
.log-in-button {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-right: 10px;
  padding: 10px;
  width: 150px;
  height: 50%;
  color: white;
  text-decoration: none;
  background-color: rgb(250, 32, 232);
  border-radius: 7px;
}

.log-in-button:hover {
  color: black;
}

header form {
  display: flex;
  justify-content: center;
  align-items: center;
}

header form input[type="submit"] {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-right: 10px;
  width: 150px;
  height: 50%;
  color: white;
  text-decoration: none;
  border: 0px;
  background-color: rgb(250, 32, 232);
  border-radius: 7px;
}

header form input[type="submit"]:hover {
  color: black;
}

/* Profile */

.profile-img-container {
  margin-top: 20px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  position: relative;
  border-radius: 50%;
}

.profile-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-actions-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.profile-action-button {
  width: auto;
  height: auto;
  margin: 10px;
  padding: 5px;
  color: white;
  border: none;
  border-radius: 4px;
  background-color: rgb(247, 137, 232);
  text-decoration: none;
}

.profile-action-button:hover {
  color: black;
}

/* Chats */

.chats-main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chats-container {
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.chat {
  width: 90%;
  padding: 10px;
  margin: 10px;
  border: 0.5px solid black;
  height: auto;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(221, 218, 218);
}

.chat-user-avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.chat-info {
  padding: 10px;
}

.username {
  display: inline-block;
}

.date {
  display: inline-block;
}

.chat-content {
  width: 90%;
  height: 900px;
  padding: 20px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.chat-input {
  height: 40px;
  width: 90%;
  display: flex;
}

.chat-input input[type="text"] {
  width: 85%;
}

.chat-input input[type="submit"] {
  border: none;
  background-color: rgb(247, 137, 232);
  width: 15%;
}

.chat-content .other-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 45%;
  padding: 10px;
  margin: 5px 0px 5px 10px;
  align-self: flex-start;
  border-radius: 4px;
  border: 0.5px solid black;
  background-color: rgb(223, 220, 220);
}

.chat-content .my-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
  padding: 10px;
  margin: 5px 0px 5px 10px;
  align-self: flex-end;
  border-radius: 4px;
  border: 0.5px solid black;
  background-color: rgb(155, 241, 152);
}

/* registration \ log-in */

.form-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.form-container form {
  background-color: rgb(235, 230, 230);
  border: 1px solid black;
  max-width: 300px;
}

.form-container form input[type="text"] {
  border-radius: 5px;
}

.form-container form input[type="submit"] {
  border-radius: 7px;
  background-color: rgb(247, 137, 232);
  border: none;
}

.form-container form input[type="submit"]:hover {
  background-color: rgb(247, 108, 228);
}

.form-container form div {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.text-container {
  padding: 20px;
  height: auto;
  width: auto;
}
