{% extends 'base.html' %}
{% load static %}
{% load chats_tags %}

{% block title %}
  {{ request.user.username }} and {{ chat|get_other_user:request.user }}
{% endblock %}

{% block content %}
  <main class="chats-main">
    <div class="chat">
      <img src="{% if oponent.image %}{{ oponent.image.url }}{% else %}
                {% static 'img/default-avatar.jpg' %}{% endif %}"
           alt="Mebmer image"
           class="chat-user-avatar">
      <div class="chat-info">
        <h5 class="username">
          <span class="badge bg-light text-dark">{{ chat|get_other_user:request.user }}</span>
        </h5>
        <h5 class="date">
          <span class="badge bg-light text-dark">{{ chat.messages.last.sent }}</span>
        </h5>
      </div>
    </div>
    <div class="chat-content" id="targetChat">
    </div>
    <div class="chat-input">
      <input type="text" id="chatInput" placeholder="Write a message" />
      <input type="submit" id="chatSubmit" value="Send message" />
    </div>
  </main>
{% endblock %}

{% block include_js %}
  {{ request.user.id|json_script:'member1_id' }}
  {% with member2=chat|get_other_user:request.user %}
    {{ member2.id|json_script:'member2_id' }}
  {% endwith %}
  {{ chat.id|json_script:'chat_id' }}
{% endblock %}

{% block domready %}
  const member1Id = JSON.parse(
    document.getElementById('member1_id').textContent
  );
  const member2Id = JSON.parse(
    document.getElementById('member2_id').textContent
  );
  const chatId = JSON.parse(
    document.getElementById('chat_id').textContent
  );

  const chatURL = `ws://${window.location.host}/ws/chats/${chatId}/`

  const chatSocket = new WebSocket(chatURL);

  // when we have a message from websocket
  chatSocket.onmessage = function(event) {
    const data = JSON.parse(event.data);
    const chat = document.getElementById('targetChat');
    chat.innerHTML += `<div class="my-message">
                         <span class="badge text-bg-secondary">
                           Username 12:30 12.12.1212
                         </span>
                         <p>
                           ${data.message}
                         </p>
                       </div>`;
  }

  chatSocket.onclose = function(event) {
    console.log('chatSocket have been closed unexceptly');
  }

  // send data in websocket
  const chatInput = document.getElementById('chatInput');
  const chatSubmit = document.getElementById('chatSubmit');

  chatSubmit.addEventListener('click', function(event) {
    const message = chatInput.value;
    if (message) {
      chatSocket.send(JSON.stringify({'message': message}));
      chatInput.value = '';
      chatInput.focus();
    }
  });

  // send data in websocket Enter
  chatInput.addEventListener('keypress', function(event) {
    if (event.key === 'Enter') {
      event.preventDefault();
      chatSubmit.click();
    }
  });

  chatInput.focus();
{% endblock %}