{% extends 'base.html' %}
{% load static %}
{% load chats_tags %}

{% block title %}
  {{ request.user.username }} and {{ chat|get_other_user:request.user }}
{% endblock %}

{% block content %}
  <main class="chats-main">
    {% with other_user=chat|get_other_user:request.user %}
      <div class="chat">
        <img src="{% if other_user.image %}{{ other_user.image.url }}{% else %}
                  {% static 'img/default-avatar.jpg' %}{% endif %}"
             alt="Mebmer image"
             class="chat-user-avatar">
        <div class="chat-info">
          <h5 class="username">
            <span class="badge bg-light text-dark">{{ other_user.username }}</span>
          </h5>
          <h5 class="date">
            <span class="badge bg-light text-dark">
              {% if chat.messages.last %}
                {{ chat.messages.last.sent }}
              {% else %}
                Write your first message!
              {% endif %}
            </span>
          </h5>
        </div>
      </div>
    {% endwith %}
    <div class="chat-content" id="targetChat">
      {% for message in chat.messages.all %}
        {% with sender=message.sender %}
          <div class="{% if sender.id == request.user.id %}my-message
                      {% else %}other-message{% endif %}">
            <span class="badge text-bg-secondary">
              {{ sender.username }} {{ message.sent }}
            </span>
            <p>
              {{ message.content }}
            </p>
          </div>
        {% endwith %}
      {% endfor %}
    </div>
    <div class="chat-input">
      <input type="text" id="chatInput" placeholder="Write a message" />
      <input type="submit" id="chatSubmit" value="Send message" />
    </div>
  </main>
{% endblock %}

{% block include_js %}
  {{ request.user.id|json_script:'member1_id' }}
  {% with member2=chat|get_other_user:request.user %}
    {{ member2.id|json_script:'member2_id' }}
  {% endwith %}
  {{ chat.id|json_script:'chat_id' }}
{% endblock %}

{% block domready %}
  const member1Id = JSON.parse(
    document.getElementById('member1_id').textContent
  );
  const member2Id = JSON.parse(
    document.getElementById('member2_id').textContent
  );
  const chatId = JSON.parse(
    document.getElementById('chat_id').textContent
  );

  const chatURL = `ws://${window.location.host}/ws/chats/${chatId}/`
  const chatSocket = new WebSocket(chatURL);

  // when we have a message from websocket
  chatSocket.onmessage = function(event) {

    const data = JSON.parse(event.data);
    const chat = document.getElementById('targetChat');
    const currentDate = new Date(data.sent).toLocaleString('ru');
    const isMe = data.user_id === member1Id;
    const messageClass = isMe ? 'my-message' : 'other-message';

    chat.innerHTML += `<div class="${messageClass}">
                         <span class="badge text-bg-secondary">
                           ${data.user_username} ${currentDate}
                         </span>
                         <p>
                           ${data.message}
                         </p>
                       </div>`;

    if (data['user_id'] === member1Id) {
      const saveMessageURL = '{% url 'chats:message_save' %}';
      let options = {
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        mode: 'same-origin'
      };

      // create message form
      let messageForm = new FormData();
      messageForm.append('chat_id', chatId);
      messageForm.append('content', data['message']);
      options['body'] = messageForm;

      fetch(saveMessageURL, options)
      .then(response => response.json())
      .then(data => {
        if (data['status'] === 'saved') {
        } else {
          console.log('error during saving');
        }
      });
    }
  };


  chatSocket.onclose = function(event) {
    console.log('chatSocket have been closed unexceptly');
  }

  // send data in websocket
  const chatInput = document.getElementById('chatInput');
  const chatSubmit = document.getElementById('chatSubmit');

  chatSubmit.addEventListener('click', function(event) {
    const message = chatInput.value;
    console.log('submit exevtn value = ' + message)
    if (message) {
      chatSocket.send(JSON.stringify({'message': message,
                                      'user_id': member1Id}));
      chatInput.value = '';
      chatInput.focus();
    }
  });

  // send data in websocket Enter
  chatInput.addEventListener('keypress', function(event) {
    if (event.key === 'Enter') {
      event.preventDefault();
      chatSubmit.click();
    }
  });

  chatInput.focus();
{% endblock %}