{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load chats_tags %}

{% block title %}Your chats{% endblock %}

{% block content %}
  <main>
    <div class="chats-container">
      <h1>Your active conversations</h1><hr />
      {% for chat in chats %}
        {% with member2=chat|get_other_user:request.user %}
          <div class="chat">
            <a href="{% url 'chats:chat_connect' chat.id %}">
              <img src="{% if member2.image %}{% thumbnail member2.image 100x100 %}
                            {% else %}{% static 'img/default-avatar.jpg' %}{% endif %}"
                   class="chat-user-avatar">
            </a>
            <div class="chat-info">
              <h5 class="username">
                <span class="badge bg-light text-dark">{{ member2.username }}</span>
              </h5>
              {% with last_message=chat.messages.last %}
                <h5 class="date">
                  {{ last_message.sent}}
                </h5>
                <p>
                  {% if last_message %}
                    ({{ last_message.sender.username }}) {{ last_message.content }}
                  {% else %}
                    Write your first message!
                  {% endif %}
                </p>
              {% endwith %}
            </div>
          </div>
        {% endwith %}
      {% empty %}
        <p>
          You haven`t any chats yet. <a href="{% url 'members:members_list' %}" class="dating-link">Fix it!</a>
        </p>
      {% endfor %}
    </div>
  </main>
{% endblock %}