{% load static %}
<div class="row rom-cols-md-6">
  <div class="col">
    <div class="profile-img-container">
      <img src="{% if object.image %}{{ object.image.url }}{% else %}
                {% static 'img/default-avatar.jpg' %}{% endif %}"/>
    </div>
  </div>
  <div class="col">
    <h1 class="text-center">{{ object.username }}</h1>
    <hr />
    <div class="row">
      <div class="col-6">
        <h4 class="text-center">
          Gender - <span class="badge bg-light text-dark">{{ object.gender }}</span>
        </h4>
        <h4 class="text-center">
          Age - <span class="badge bg-light text-dark">{{ object.age }}</span>
        </h4>
        <h4 class="text-center">
          City - <span class="badge bg-light text-dark">{{ object.city }}</span>
        </h4>
      </div>
      <div class="col-6">
        <h3 class="text-center">Interests</h3>
        {% for interest in object.interests.all %}
          <span class="badge bg-light text-dark"> {{ interest.name }} </span>
        {% empty %}
          <span class="badge bg-light text-dark"> Nothing </span>
        {% endfor %}
      </div>
    </div>
    <div class="col-12">
      {{ object.description }}
    </div>
    <div class="col-12">
      <div class="member-actions-container">
        <a href="" id="backButton" class="back-button">
          Back to the list
        </a>
        <a id="chatButton" class="chat-button" data-create-url="{% url 'chats:create_chat' %}"
           data-list-url="{% url 'chats:chats_list' %}">
          Have a chat!
        </a>
      </div>
    </div>
    <div class="col-12" id="aiButtonContainer">
      <div class="ai-button-container">
        <a href="" class="ai-button" id="askAiButton">
          Ask AI
        </a>
        <svg id="aiInfoSign" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
          <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
        </svg>
      </div>
    </div>
  </div>
</div>