{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}Members{% endblock %}

{% block content %}
  <main>
    <div class="filters">
      <form method="get">
        <h4 class="text-center">Find your love!</h4>
        {% for field in filter_form %}
          {% if field.name == 'interests' %}
            <h5>{{ field.name }}</h5>
            {% for choice in field %}
            <div class="form-check-inline">
              {{ choice.tag }}
              <label for="{{ choice.id_for_label }}" class="form-check-label">{{ choice.choice_label }}</label>
            </div>
            {% endfor %}
          {% elif field.name == 'gender' %}
            <h5>{{ field.name }}</h5>
            {% for choice in field %}
              <div class="form-check-inline">
                {{ choice.tag }}
                <label for="{{ choice.id_for_label }}" class="form-check-label">{{ choice.choice_label }}</label>
              </div>
            {% endfor %}
          {% elif 'age' in field.name %}
          <h5>{{ field.name }}</h5>
          <select class="form-select" name="{{ field.name }}"
                  id="{{ field.auto_id }}" style="width: 50%">
            {% for value, label in field.field.choices %}
              <option value="{{ value }}"
                      {% if value|stringformat:'s' == field.value|stringformat:'s' %}selected{% endif %}>
                {{ label }}
              </option>
            {% endfor %}
          </select>
          {% else %}
          <h5>{{ field.name }}</h5>
            <select name="{{ field.name }}" id="{{ field.auto_id }}"
                    class="form-select" multiple>
              {% for value, label in field.field.choices %}
                <option value="{{ value }}" {% if value in field.value %}selected{% endif %}>{{ label }}</option>
              {% endfor %}
            </select>
          {% endif %}
        {% endfor %}
        <div class="form-check">
          <input type="submit" value="Find!">
          <input type="reset" value="Clean" id="resetButton">
        </div>
      </form>
    </div>
    <div class="container" style="padding: 25px !important;"
         id="container">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-el-4 g-4">
        {% for member in members %}
          <div class="col">
            <div class="card" style="width: 18rem; cursor: pointer;"
                 data-id="{{ member.id }}" data-username="{{ member.username }}">
              <img
                src="{% if member.image %}{% thumbnail member.image 250x250 %}
                     {% else %}{% static 'img/default-avatar.jpg' %}{% endif %}"
                alt="Member avatar"
                class="card-img-top"
              />
              <div class="card-body">
                <h5 class="card-title">{{ member.username }}</h5>
                <p class="card-text">
                  {{ member.description|truncatewords:20 }}
                </p>
              </div>
            </div>
          </div>
        {% empty %}
          <h3 class="text-center">Nothing found</h3>
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}

{% block domready %}
let cards = document.querySelectorAll('.card');
let targetContainer = document.getElementById('container');

cards.forEach(card => {
  let userURL = `{{ protocol }}{{ domain }}/members/${card.dataset.id}/${card.dataset.username}/`

  card.addEventListener('click', (event) => {
    fetch(userURL)
    .then(response => response.text())
    .then(html => {
      const previousURL = window.location.href;

      let parser = new DOMParser();
      let detailPage = parser.parseFromString(html, 'text/html');

      // Add possibility to come back to filters
      let backButton = detailPage.getElementById('backButton');
      backButton.href = previousURL;

      targetContainer.innerHTML = '';
      targetContainer.insertAdjacentHTML('beforeEnd', html);

      let chatButton = document.getElementById('chatButton');
      chatButton.addEventListener('click', (chatEvent) => {
        const createChatURL = '{% url 'chats:create_chat' %}';
        let options = {
            method: 'POST',
            headers: {'X-CSRFToken': csrftoken},
            mode: 'same-origin'
        };

        // create form
        let createChatForm = new FormData();
        createChatForm.append('member2_id', card.dataset.id);
        options['body'] = createChatForm;

        // POST request to create chat
        fetch(createChatURL, options)
        .then(response => response.json())
        .then(data => {
            if (data['status'] === 'ok') {
                window.location.pathname = '{% url 'chats:chats_list' %}'
            } else if (data['status'] === 'blocked') {
                alert('error');
            }
        });
      });

      // ai info button event
      let aiInfoSing = document.getElementById('aiInfo');
      let aiButtonContainer = document.getElementById('aiButtonContainer')
      let aiInfo = `{% include "members\includes\ai_info.html" %}`;
      let shown = false;

      aiInfoSing.addEventListener('click', (infoEvent) => {
        if (shown === false) {
          aiButtonContainer.insertAdjacentHTML('afterend', aiInfo);
          shown = true;
        } else {
          let aiInfoContent = document.getElementById('aiInfoContent');
          if (aiInfoContent) {
            aiInfoContent.remove();
          }
          shown = false;
        }
      });
    });
  });
});
{% endblock %} 